#!/bin/sh

# PROVIDE: bindrev
# BEFORE: named

. /etc/rc.subr

name="bindrev"
rcvar="${name}_enabled"
start_cmd="${name}_start"
stop_cmd="${name}_stop"

command="/home/drew/bindrev/bindrev.py"
pidfile="/var/run/bindrev.pid"

bindrev_start()
{
    echo "Starting bindrev"
    echo "****" >> /tmp/procs
    ps aux >> /tmp/procs
    /usr/sbin/daemon -u drew -o /var/log/bindrev.log -p $pidfile $command
    echo "^^^^" >> /tmp/procs
    ps aux >> /tmp/procs
    export PATH=/usr/local/bin:$PATH
    while ! /home/drew/bindrev/bindrev_client.py 127.0.0.1 >/dev/null 2>&1; do
        echo "Waiting for server start"
        sleep 1
    done
}

bindrev_stop()
{
    echo "Stopping bindrev"
    pkill -TERM -P $(cat $pidfile)
}

load_rc_config $name
run_rc_command "$1"
